body{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
}
.container{
    margin-top: 2%;
}
#rulesBttn{
    width: 300px;
}
#rules{
    width: 900px;
}
.mainImg{
    margin-top: -4%;
}
video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}
.panel{
    background-color: rgba(255, 255, 255, 0);}
.panel-heading{
    border-radius: 10px;
    background: rgba(236, 236, 236, 0.5); 
}
button{
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.753); 
}
.questionDiv{
    margin:5%;
}
.answerBttn{
    margin:1%;
    width:98%;
}
.timerDiv{
    border-radius: 10px;
    background: rgba(236, 236, 236, 0.5); 
}
#seconds{
    font-size: 40px;
}
#yesORno{
    width: 250px;
}